name: Check Markdown links
# uses https://github.com/tcort/markdown-link-check

on: 
  push:
    branches:
    - master

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@0.6.0
      with:
        use-quiet-mode: 'no'
        use-verbose-mode: 'yes'
        config-file: 'config/markdown-link-check.json'
