name: Check Markdown lint
# uses https://github.com/igorshubovych/markdownlint-cli

on: 
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  markdownlint-cli:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: nosborn/github-action-markdown-cli@v1.1.1
      with:
        files: .
        config_file: config/markdownlint.json
